@import "base";

body > footer {
  position: relative;
  bottom: 0;
}

#main-footer {
  text-align: center;
  padding: 0.9em;
  margin-bottom: 0;
  line-height: 100%;
  .block {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.maclogo {
  color: #777;
  width: 105px;
  text-align: center;
  position: relative;
  display: inline-block;
}

a.maclogo:hover {
  color: #999;
  text-decoration: none;
}

.maclogo div {
  display: block;
  margin-left: 43px;
  &.logo {
    background-image: url('#{$cdn_img}/ext_img/apple/icloud/icloudapplelogo.png');
  }
}

.maclogo div {
  &.logo-brightener {
    background-image: url('#{$cdn_img}/ext_img/apple/icloud/icloudapplelogo.png');
  }
  &.logo, &.logo-brightener {
    top: 3px;
    width: 19px;
    height: 22px;
  }
  &.logo {
    position: relative;
    z-index: 12;
    background-position: 0px -1566px;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  &.logo-brightener {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    cursor: pointer;
    position: relative;
    margin-top:-22px;
    z-index: 13;
    background-position: 0px -1588px;
    background-repeat: no-repeat;
  }
}

.ie8 {
  .maclogo div.logo-brightener:hover {
    background-image: url('#{$cdn_img}/ext_img/apple/icloud/icloudapplelogo.png');
  }
  .maclogo div.logo-brightener {
    background: transparent;
  }
}

.maclogo {
  div.logo-brightener:hover,
  &:hover div.logo-brightener {
    opacity: 1;
    z-index: 10;
  }
}

.ie8 .maclogo div.logo-brightener:hover {
  background-position: 0px -1588px;
  background-repeat: no-repeat;
}

.heroku-powered {
  display: inline-block;
  height: 100%;
  color: rgb(103,99,161) //#c7c0de;
}
.sponsor {
  white-space: nowrap;
  color: #777;
  display: inline-block;
  text-align: left;
  font-size: 1.5em;
  font-weight: bolder;
  a {
    color: #bd101f;
  }
  > span,
  > a {
    // vertical-align: middle;
  }
  .rslogo {
    margin-right: 10px;
  }
}