@import "base";

#MainHeader {
  margin: 0;
  clear: both;
  width: 100%;
  z-index: 9;
  text-align: center;
  display: block;
  vertical-align: middle;
  position: relative;
}

.headerWrapper {
  width: 85%;
  min-height: 69px;
  display: inline-block;
  margin: 21px auto 9px auto;
  clear: both;
  position: relative;
  z-index: 9;
  text-align: center;
}

// Thanks http://www.hagenburger.net/BLOG/3d-Github-badge-with-pure-CSS3.html
.github-ribbon {
  overflow: hidden;
  width: 12.727922061357857em;
  height: 12.727922061357855em;
  position: absolute;
  top: -20px;
  > a {
    position: relative;
    display: block;
    top: 4.5em;
    // height: 2.5em;
    text-decoration: none;
    // width: 18em;
    font-weight: bold;
    background-color: black;
    > span {
      color: white;
      font-size: 1.5em;
      left: 0;
      padding: 0.4em 0;
      text-align: center;
      width: 15em;
    }
  }
}
.github-ribbon-left {
  @extend .github-ribbon;
  left: 0;
  > a {
    left: -3.5em;
    @include rotate(-45deg);
  }
}
.github-ribbon-right {
  @extend .github-ribbon;
  right: 0;
  > a {
    right: 1.9em;
    @include rotate(45deg);
  }
}
@media all and (-webkit-transform-3d) {
  #github {
    span {
      opacity: 1 !important;
      -webkit-backface-visibility: hidden;
      -webkit-transition: -webkit-transform 1s;
      &:last-child {
        -webkit-transform: rotateX(180deg);
      }
    }
    &:hover span {
      &:first-child {
        -webkit-transform: rotateX(180deg);
      }
      &:last-child {
        -webkit-transform: rotateX(360deg);
      }
    }
  }
}