@import "base";

.nav {
  position: relative;

  &:hover {
    > li {
      > a {
        @include vendorize(filter, blur(0.1em));
      }
    }
    > li.active {
      > a {
        @include vendorize(filter, none);
      }
    }
  }
  > li {
    color: black;
    > a {
      font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #000;
      font-weight: bold;
      z-index: 999;
      -webkit-transition-duration: 0.5s;
      @include vendorize(transition-timing-function, ease-in);
      &:hover,
      &:focus {
        color: white;
        @include scale(1.15, 1.15);
        @include vendorize(filter, none);
      }
    }
    &.active {
      color: white;
      font-weight: bolder;
      a {
        color: white;
        @include scale(1.12, 1.12);
        &:hover,
        &:focus {
          color: white;
        }
      }
    }
  }
}

#main-nav {
  display: block !important;
  position: relative;
  background-color: #eee;
  z-index: 9999;
  border-style: none;
  border-bottom: 1px solid #d6d6d6;
  border-radius: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  // -webkit-transition-name: transform;
  // -webkit-font-smoothing: antialiased;
  // -webkit-transition-delay: 0s;
  // -webkit-transition-duration: 0s;
  // -webkit-transition-property: all;
  // -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  // -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  //         box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);

  .navbar-brand {
    text-align: center;
    color: #444;
    font-size: 3em;
    padding-left: 1.5em;
    font-weight: bolder;
    font-variant: small-caps;
    text-shadow: #ace 0 0 15px;
    text-shadow: rgba(12, 15, 18, 0.15) 0 0 9px;
  }

  .navbar-toggle {
    border-color: #ddd;
  }
  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: #ddd;
  }
  .navbar-toggle .icon-bar {
    background-color: #888;
  }

  .navbar-collapse {
    padding-right: 0;
  }

  .nav {
    > li {
      > a {
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
      &.lavalampback {
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;
        @include vendorize(transition, left, width .3s ease-in-out);
      }
      &.leftPad,
      &.rightPad {
        // background-color: #d3d3d3;
        // background-color: rgba(211, 211, 211, 0.92);
        background-color: #F5F6F7;
        background: url('#{$cdn_img}/bg/google/HeaderCircuit.png') repeat-x fixed;
        // @include vendorize(filter, blur(1.5px));
      }
      &.hoverPad {
        color: #BBB;
        border-width: 0 2px 0 2px;
        @include vendorize(border-image, url('#{$cdn_img}/overlays/toolbarItemSelected.png') 0 2 0 2);
      }
    }
  }

  .nav-search-button {
    margin: 0;
    padding-left: 1.2em;
  }

  .search_container {
    float: right;
    height: 100%;
  }

  .search-submit,
  .search-button {
    width: auto;
    @include vendorize(user-select, none);
    cursor: default !important;
    display: inline-block;
    font-weight: bold;
    position: relative;
    height: 100%;
    text-align: center;
    text-decoration: none !important;
    padding: 0 1.5em;
  }

  .search-button {
    color: #333;
    border-left: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    margin: 0;
  }

  .search-submit,
  .search-button:hover {
    color: #fff !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
  }

  .search-submit {
    color: #fff !important;
    line-height: 29px;
    min-width: 54px;
    *min-width: 70px;
    border: 1px solid #2f5bb7;
    @include vendorize(box-shadow, 0 1px 1px rgba(0,0,0,.1));
  }

  /*.searchTB:focus{-moz-box-shadow:inset 0 0 0 1px #fff;
  -webkit-box-shadow:inset 0 0 0 1px #fff;
  box-shadow:inset 0 0 0 1px #fff;
  outline:none}*/

  .search-submit,
  .search-button::-moz-focus-inner {
    border: 0
  }

  div.search-box {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -11;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    border-style: none;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 0 12px #3079ED;
    @include vendorize(border-radius, 0 0 5px 5px);
    @include vendorize(box-shadow, 0 0 12px #3079ED);
    display: none;
  }

  input[type="checkbox"].search-toggler:checked + div {
    > .search-button {
      color: #fff !important;
      background-color: #4d90fe;
      background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
      background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
      background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
      background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
      background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
      background-image: linear-gradient(top,#4d90fe,#4787ed);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
      -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
      box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    }
    > .toggel-panel {
      display: block;
    }
  }

}

#main-nav,
#fixed-main-nav {
  .navbar-background {
    background: url('#{$cdn_img}/bg/google/HeaderCircuit.png') repeat-x fixed;
    @include vendorize(filter, blur(1.5px));
  }
}

#fixed-main-nav {
  top: 0;
  z-index: 11;
  padding-bottom: 0;
  @include vendorize(box-shadow, 0 0 1.5em 0.3em #333);

  .navbar-background {
    z-index: 11;
  }
  .nav {
    li {
      &,
      &.active,
      &:hover {
        border-radius: 0;
      }
      a {
        background-color: transparent;
        padding: {
          top: 0.6em;
          bottom: 0.5em;
        }
      }
      &.active,
      &:hover {
        z-index: 11;
      }
    }
  }
}

@media (max-width: 767px) {
  #main-nav {
    .navbar-brand {
      padding-left: 0.2em;
      padding-right: 0.1em;
    }
    .nav-search-button {
      padding-left: 0;
    }
  }
  .nav {
    > li.lavalampback {
      display: none !important;
      visibility: hidden;
    }
  }
}


.mobile #fixed-main-nav {
  @extend .hidden;
}

