@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/_base\.scss}line{font-family:\0000349}}
.hidden {
  display: none !important;
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\000033}}
#MainHeader {
  margin: 0;
  clear: both;
  width: 100%;
  z-index: 9;
  text-align: center;
  display: block;
  vertical-align: middle;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000314}}
.headerWrapper {
  width: 85%;
  min-height: 69px;
  display: inline-block;
  margin: 21px auto 9px auto;
  clear: both;
  position: relative;
  z-index: 9;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000326}}
.github-ribbon, .github-ribbon-left, .github-ribbon-right {
  overflow: hidden;
  width: 12.727922061357857em;
  height: 12.727922061357855em;
  position: absolute;
  top: -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000332}}
  .github-ribbon > a, .github-ribbon-left > a, .github-ribbon-right > a {
    position: relative;
    display: block;
    top: 4.5em;
    text-decoration: none;
    font-weight: bold;
    background-color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000341}}
    .github-ribbon > a > span, .github-ribbon-left > a > span, .github-ribbon-right > a > span {
      color: white;
      font-size: 1.5em;
      left: 0;
      padding: 0.4em 0;
      text-align: center;
      width: 15em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000351}}
.github-ribbon-left {
  left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000354}}
  .github-ribbon-left > a {
    left: -3.5em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000359}}
.github-ribbon-right {
  right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000362}}
  .github-ribbon-right > a {
    right: 1.9em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

@media all and (-webkit-transform-3d) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000369}}
  #github span {
    opacity: 1 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000373}}
    #github span:last-child {
      -webkit-transform: rotateX(180deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000378}}
  #github:hover span:first-child {
    -webkit-transform: rotateX(180deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/main000\/header\.scss}line{font-family:\0000381}}
  #github:hover span:last-child {
    -webkit-transform: rotateX(360deg); } }
