@font-face {
  font-family: 'AllerBold';
  src: url("fonts/aller_bd-webfont.eot");
  src: url("fonts/aller_bd-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aller_bd-webfont.woff") format("woff"), url("fonts/aller_bd-webfont.ttf") format("truetype"), url("fonts/aller_bd-webfont.svg#AllerBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/aller_bd-webfont\.scss}line{font-family:\0000312}}
.font-AllerBold {
  font-family: 'AllerBold'; }

@font-face {
  font-family: 'FanwoodItalic';
  src: url("fonts/fanwood-italic-openamp.eot");
  src: url("fonts/fanwood-italic-openamp.eot?iefix") format("eot"), url("fonts/fanwood-italic-openamp.woff") format("woff"), url("fonts/fanwood-italic-openamp.ttf") format("truetype"), url("fonts/fanwood-italic-openamp.svg#webfontXaokfL3V") format("svg");
  font-weight: normal;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/fanwood-italic-openamp\.scss}line{font-family:\0000312}}
.font-FanwoodItalic {
  font-family: 'FanwoodItalic'; }
