@font-face {
  font-family: "IconicFill";
  src: url(https://dqegdwgdd0yjs.cloudfront.net/assets/iconic-386c7b0d007901a1be826a6d1554a989.eot);
  src: url(https://dqegdwgdd0yjs.cloudfront.net/assets/iconic.eot?#iefix) format("embedded-opentype"), url(https://dqegdwgdd0yjs.cloudfront.net/assets/iconic-c6cc0a0dd0e2145b28915922a8c6bf89.woff) format("woff"), url(https://dqegdwgdd0yjs.cloudfront.net/assets/iconic-b20e045544accd2ed0fc1d99a332b70b.ttf) format("truetype"), url(https://dqegdwgdd0yjs.cloudfront.net/assets/iconic.svg#IconicFill) format("svg"), url(https://dqegdwgdd0yjs.cloudfront.net/assets/iconic-b9a9e4dfd90b5d6a7cf88e743725e842.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\000037}}
.iconic-lightbulb:before {
  content: "\e063"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\000038}}
.iconic-equalizer:before, .app-nav .resources a:before {
  content: "\e052"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\000039}}
.iconic-brush_alt:before {
  content: "\e01c"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000310}}
.iconic-move:before {
  content: "\e03e"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000311}}
.iconic-tag_fill:before {
  content: "\e02b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000312}}
.iconic-book_alt2:before {
  content: "\e06a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000313}}
.iconic-layers:before {
  content: "\e01f"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000314}}
.iconic-chat_alt_fill:before {
  content: "\e007"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000315}}
.iconic-layers_alt:before {
  content: "\e020"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000316}}
.iconic-cloud_upload:before {
  content: "\e045"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000317}}
.iconic-chart_alt:before, .app-nav .dashboard a:before {
  content: "\e029"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000318}}
.iconic-fullscreen_exit_alt:before {
  content: "\e051"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000319}}
.iconic-cloud_download:before {
  content: "\e044"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000320}}
.iconic-paperclip:before {
  content: "\e08a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000321}}
.iconic-heart_fill:before {
  content: "\2764"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000322}}
.iconic-mail:before {
  content: "\2709"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000323}}
.iconic-pen_alt_fill:before {
  content: "\e005"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000324}}
.iconic-check_alt:before {
  content: "\2718"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000325}}
.iconic-battery_charging:before {
  content: "\e05d"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000326}}
.iconic-lock_fill:before {
  content: "\e075"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000327}}
.iconic-stop:before {
  content: "\e04a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000328}}
.iconic-arrow_up:before {
  content: "\2191"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000329}}
.iconic-move_horizontal:before {
  content: "\e038"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000330}}
.iconic-compass:before {
  content: "\e021"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000331}}
.iconic-minus_alt:before {
  content: "\e009"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000332}}
.iconic-battery_empty:before {
  content: "\e05c"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000333}}
.iconic-comment_fill:before {
  content: "\e06d"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000334}}
.iconic-map_pin_alt:before {
  content: "\e002"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000335}}
.iconic-question_mark:before {
  content: "\003f"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000336}}
.iconic-list:before {
  content: "\e055"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000337}}
.iconic-upload:before {
  content: "\e043"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000338}}
.iconic-reload:before {
  content: "\e030"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000339}}
.iconic-loop_alt4:before {
  content: "\e035"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000340}}
.iconic-loop_alt3:before {
  content: "\e034"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000341}}
.iconic-loop_alt2:before {
  content: "\e033"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000342}}
.iconic-loop_alt1:before {
  content: "\e032"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000343}}
.iconic-left_quote:before {
  content: "\275d"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000344}}
.iconic-x:before {
  content: "\2713"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000345}}
.iconic-last:before {
  content: "\e04d"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000346}}
.iconic-bars:before {
  content: "\e06f"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000347}}
.iconic-arrow_left:before {
  content: "\2190"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000348}}
.iconic-arrow_down:before {
  content: "\2193"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000349}}
.iconic-download:before {
  content: "\e042"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000350}}
.iconic-home:before {
  content: "\2302"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000351}}
.iconic-calendar:before {
  content: "\e001"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000352}}
.iconic-right_quote_alt:before {
  content: "\e012"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000353}}
.iconic-unlock_fill:before {
  content: "\e076"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000354}}
.iconic-fullscreen:before {
  content: "\e04e"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000355}}
.iconic-dial:before {
  content: "\e058"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000356}}
.iconic-plus_alt:before {
  content: "\e008"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000357}}
.iconic-clock:before, .app-nav .history a:before {
  content: "\e079"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000358}}
.iconic-movie:before {
  content: "\e060"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000359}}
.iconic-steering_wheel:before {
  content: "\e024"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000360}}
.iconic-pen:before {
  content: "\270e"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000361}}
.iconic-pin:before {
  content: "\e067"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000362}}
.iconic-denied:before {
  content: "\26d4"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000363}}
.iconic-left_quote_alt:before {
  content: "\e011"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000364}}
.iconic-volume_mute:before {
  content: "\e071"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000365}}
.iconic-umbrella:before {
  content: "\2602"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000366}}
.iconic-list_nested:before {
  content: "\e056"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000367}}
.iconic-arrow_up_alt1:before {
  content: "\e014"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000368}}
.iconic-undo:before {
  content: "\e02f"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000369}}
.iconic-pause:before {
  content: "\e049"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000370}}
.iconic-bolt:before {
  content: "\26a1"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000371}}
.iconic-article:before {
  content: "\e053"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000372}}
.iconic-read_more:before {
  content: "\e054"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000373}}
.iconic-beaker:before {
  content: "\e023"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000374}}
.iconic-beaker_alt:before {
  content: "\e010"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000375}}
.iconic-battery_full:before {
  content: "\e073"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000376}}
.iconic-arrow_right:before {
  content: "\2192"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000377}}
.iconic-iphone:before {
  content: "\e06e"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000378}}
.iconic-arrow_up_alt2:before {
  content: "\e018"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000379}}
.iconic-cog:before {
  content: "\2699"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000380}}
.iconic-award_fill:before {
  content: "\e022"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000381}}
.iconic-first:before {
  content: "\e04c"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000382}}
.iconic-trash_fill:before {
  content: "\e05a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000383}}
.iconic-image:before {
  content: "\e027"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000384}}
.iconic-comment_alt1_fill:before {
  content: "\e003"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000385}}
.iconic-cd:before {
  content: "\e064"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000386}}
.iconic-right_quote:before {
  content: "\275e"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000387}}
.iconic-brush:before {
  content: "\e01b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000388}}
.iconic-cloud:before {
  content: "\2601"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000389}}
.iconic-eye:before {
  content: "\e025"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000390}}
.iconic-play_alt:before {
  content: "\e048"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000391}}
.iconic-transfer:before {
  content: "\e041"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000392}}
.iconic-pen_alt2:before {
  content: "\e006"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000393}}
.iconic-camera:before {
  content: "\e070"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000394}}
.iconic-move_horizontal_alt2:before {
  content: "\e03a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000395}}
.iconic-curved_arrow:before {
  content: "\2935"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000396}}
.iconic-move_horizontal_alt1:before {
  content: "\e039"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000397}}
.iconic-aperture:before {
  content: "\e026"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000398}}
.iconic-reload_alt:before {
  content: "\e031"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\0000399}}
.iconic-magnifying_glass:before {
  content: "\e074"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003100}}
.iconic-calendar_alt_fill:before {
  content: "\e06c"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003101}}
.iconic-fork:before {
  content: "\e046"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003102}}
.iconic-box:before {
  content: "\e06b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003103}}
.iconic-map_pin_fill:before {
  content: "\e068"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003104}}
.iconic-bars_alt:before {
  content: "\e00a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003105}}
.iconic-volume:before {
  content: "\e072"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003106}}
.iconic-x_alt:before {
  content: "\2714"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003107}}
.iconic-link:before {
  content: "\e077"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003108}}
.iconic-move_vertical:before {
  content: "\e03b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003109}}
.iconic-eyedropper:before {
  content: "\e01e"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003110}}
.iconic-spin:before {
  content: "\e036"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003111}}
.iconic-rss:before {
  content: "\e02c"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003112}}
.iconic-info:before {
  content: "\2139"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003113}}
.iconic-target:before {
  content: "\e02a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003114}}
.iconic-cursor:before {
  content: "\e057"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003115}}
.iconic-key_fill:before {
  content: "\26bf"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003116}}
.iconic-minus:before {
  content: "\2796"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003117}}
.iconic-book_alt:before {
  content: "\e00b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003118}}
.iconic-headphones:before {
  content: "\e061"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003119}}
.iconic-hash:before {
  content: "\0023"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003120}}
.iconic-arrow_left_alt1:before {
  content: "\e013"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003121}}
.iconic-arrow_left_alt2:before {
  content: "\e017"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003122}}
.iconic-fullscreen_exit:before {
  content: "\e050"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003123}}
.iconic-share:before {
  content: "\e02e"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003124}}
.iconic-fullscreen_alt:before {
  content: "\e04f"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003125}}
.iconic-comment_alt2_fill:before {
  content: "\e004"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003126}}
.iconic-moon_fill:before {
  content: "\263e"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003127}}
.iconic-at:before {
  content: "\0040"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003128}}
.iconic-chat:before {
  content: "\e05e"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003129}}
.iconic-move_vertical_alt2:before {
  content: "\e03d"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003130}}
.iconic-move_vertical_alt1:before {
  content: "\e03c"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003131}}
.iconic-check:before {
  content: "\2717"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003132}}
.iconic-mic:before {
  content: "\e05f"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003133}}
.iconic-book:before {
  content: "\e069"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003134}}
.iconic-move_alt1:before {
  content: "\e03f"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003135}}
.iconic-move_alt2:before {
  content: "\e040"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003136}}
.iconic-document_fill:before {
  content: "\e066"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003137}}
.iconic-plus:before {
  content: "\2795"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003138}}
.iconic-wrench:before {
  content: "\e078"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003139}}
.iconic-play:before {
  content: "\e047"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003140}}
.iconic-star:before {
  content: "\2605"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003141}}
.iconic-document_alt_fill:before {
  content: "\e000"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003142}}
.iconic-chart:before {
  content: "\e028"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003143}}
.iconic-rain:before {
  content: "\26c6"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003144}}
.iconic-folder_fill:before {
  content: "\e065"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003145}}
.iconic-new_window:before {
  content: "\e059"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003146}}
.iconic-user:before {
  content: "\e062"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003147}}
.iconic-battery_half:before {
  content: "\e05b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003148}}
.iconic-aperture_alt:before {
  content: "\e00c"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003149}}
.iconic-eject:before {
  content: "\e04b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003150}}
.iconic-arrow_down_alt1:before {
  content: "\e016"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003151}}
.iconic-pilcrow:before {
  content: "\00b6"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003152}}
.iconic-arrow_down_alt2:before {
  content: "\e01a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003153}}
.iconic-arrow_right_alt1:before {
  content: "\e015"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003154}}
.iconic-arrow_right_alt2:before {
  content: "\e019"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003155}}
.iconic-rss_alt:before {
  content: "\e02d"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003156}}
.iconic-spin_alt:before {
  content: "\e037"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abhishekmunie\/GitSpace\/GitHub\/abhishekmunie\/css\.ahishekmunie\.com\/typography\/iconic\.scss}line{font-family:\00003157}}
.iconic-sun_fill:before {
  content: "\2600"; }
